/* 版面 */
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    transition: 0.4s all linear;
    font-size:25px;
}
body{
    background-color:pink;
}
/* <!-- 標題 --> */
h1{
    color: rgb(115, 45, 220);
    font-size: 40px; 
}

.heading{
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding:40px;
}

.heading span{
    font-size: 50px;
    color: rgb(244, 42, 42);
}

header{
    font-size: 20px;
    position: fixed;
    top:0; left:0; right:0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgb(255, 118, 73);
    /* box-shadow: 10px 1rem 1rem black; */
    opacity: 0.9;
}

header .navbar a{
    font-size: 30px;
    font-weight: bolder;
    color: black;
    padding-left: 10px;
}

header .navbar a:hover{
    font-size: 30px;
    font-weight: 900;
    color:crimson;
    margin-left: 10px;
    transition: 1s;
    background-color: rgb(0, 0, 0);
    padding:19px 14px 19px 14px;
}

/* Font Awesome 案紐*/
#menu-bar{
    font-size: 25px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border:1px solid rgb(115, 13, 210);
    border-radius: 5px;
    padding:8px;
     display:none; 
}

/* <!-- 首頁圖 --> */

section{
    padding:10px;
}

.home{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 600px;
    align-items: center;
    background: url(img/546000.jpg) no-repeat;
    background-size: cover;
    background-position: right;
}

.btn{
    padding: 10px;
    border:3px solid rgb(215, 176, 0);
    color: rgb(215, 176, 0);
    font-size: 25px;
    border-radius: 10px;
    z-index: 0;
} 

.btn:hover{
    background-color: black;
    color: brown;
    box-shadow: inset 200px 0 0 0 black;
    transition: 1.5s all;
} 

/* 美食 */

.menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.menu .box-container .box{
    flex:1 1 10px;
    padding:10px;
    box-shadow: 5px 5px 5px rgb(118,118, 118);
    border:1px solid rgb(118,118,118);
    background: url(img/木頭.jpg) no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding-bottom: 30px;
    height: 500px;
}

.menu .box-container .box img{
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
}

.menu .box-container .box .price{
    font-weight: bolder;
    font-size: 40px;
    color: antiquewhite;
    background-color: chocolate;
    padding: 10px 60px 10px 60px;
    opacity: 0.8;
    position: absolute;
}

.menu .box-container .box h3{
    color: antiquewhite;
    font-size: 40px;
    padding: 10px 40px 10px 40px;
    text-align: center;
    background: rgb(9,9,55);
    background: rgb(9,9,55);
    background: linear-gradient(90deg,rgba(9,9,55,0) 19%, rgba(9,9,55,0.8211485277704832) 50%, rgba(3,2,3,0) 72%);
    margin-top: 10px;
}
.menu .box-container .stars {
    color: rgb(255, 63, 4);
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* <!-- FOOT --> */
.footer{
    background-color:burlywood;
    text-align: center;
}
.footer .socials{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.footer .credit{
    padding: 10px;
    color: rgb(67,67,67);
    font-weight: bolder;
    font-size: 30px;
}
.footer .credit span{
    color: rgb(0, 169, 169);
}

/* 手機 */
/* 第一區h */
@media(max-width:600px){
    #menu-bar{
        display: initial;
        position: absolute;
        right:10px;
        top:20px;
    } 
     header .navbar{
        position: absolute;
        top:80px; left:0; right:0;
        background-color: rgb(25, 100, 115);
        border-top: 3px solid gray;
        /* 隱藏下拉選單 */
         clip-path:polygon(0 0,100% 0,100% 0,0 0);
    } 

     header .navbar a{ 
        /* 疊起來 */
          display: block;
         font-size: 22px;
         font-weight: normal;
         color: rgb(0, 0, 0);
         margin: 10px; padding:6px;
         border-left: 3px solid gray;
         background-color: rgb(255, 255, 255);
    } 
    /* 顯示出來 */
     header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        padding:10px;
    } 
    /* 第二區 */
    .home .content{
        text-align: center;
        margin-top: 70px;
        padding-top: 20px;
    }
    .btn{
        width: 100%;
        z-index: 4;
    }

    /* 美食 */
    .menu .box-container .box{
        flex: 1 1 auto;
    }
    }